In [2]:
import pandas as pd
import numpy as np

In [3]:
dane = pd.read_excel(r'/home/lolusia/uczenie_maszynowe/Książka 2.xlsx')
dane

    nazwa  entalpia  elektroujemnosc  obserwacje
0   TiO2    -1492.0             4.90        1.76
1   ZnO2     -638.1             4.95        2.02
2   SiO2     -618.3             3.81        2.12
3   V2O3     -139.5             3.24        2.24
4  Sb2O3     -206.7             4.46        2.31
5  Bi2O3     -148.5             5.34        2.50
6  Mn2O3      -96.3             5.00        2.64
7    CoO     -786.8             7.44        2.83
8  In2O3      -52.1             6.78        2.92
9    ZnO     -449.4             8.33        2.32

In [4]:
dane['obserwacje'][9] = 3.32

/tmp/ipykernel_166260/864692425.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dane['obserwacje'][9] = 3.32

In [5]:
dane['entalpia'] = (dane['entalpia'] - dane['entalpia'].mean()) / dane['entalpia'].std()
dane['elektroujemnosc'] = (dane['elektroujemnosc'] - dane['elektroujemnosc'].mean()) / dane['elektroujemnosc'].std()
dane

    nazwa  entalpia  elektroujemnosc  obserwacje
0   TiO2  -2.307068        -0.326023        1.76
1   ZnO2  -0.393011        -0.294973        2.02
2   SiO2  -0.348628        -1.002909        2.12
3   V2O3   0.724625        -1.356877        2.24
4  Sb2O3   0.573993        -0.599261        2.31
5  Bi2O3   0.704451        -0.052785        2.50
6  Mn2O3   0.821460        -0.263923        2.64
7    CoO  -0.726329         1.251307        2.83
8  In2O3   0.920536         0.841450        2.92
9    ZnO   0.029969         1.803994        3.32

In [13]:
predicted = pd.Series(2.466 + 0.244 *dane['entalpia'][i] + 0.394*dane['elektroujemnosc'][i] for i in range(dane.shape[0]))
predicted

0    1.774622
1    2.253886
2    1.985789
3    2.108199
4    2.369945
5    2.617089
6    2.562450
7    2.781791
8    3.022142
9    3.184086
dtype: float64

In [14]:
tabela = pd.concat([dane, predicted], axis=1)
tabela.columns = ['nazwa', 'entalpia', 'elektroujemnosc', 'obserwacje', 'obliczone']
tabela

    nazwa  entalpia  elektroujemnosc  obserwacje  obliczone
0   TiO2  -2.307068        -0.326023        1.76   1.774622
1   ZnO2  -0.393011        -0.294973        2.02   2.253886
2   SiO2  -0.348628        -1.002909        2.12   1.985789
3   V2O3   0.724625        -1.356877        2.24   2.108199
4  Sb2O3   0.573993        -0.599261        2.31   2.369945
5  Bi2O3   0.704451        -0.052785        2.50   2.617089
6  Mn2O3   0.821460        -0.263923        2.64   2.562450
7    CoO  -0.726329         1.251307        2.83   2.781791
8  In2O3   0.920536         0.841450        2.92   3.022142
9    ZnO   0.029969         1.803994        3.32   3.184086

In [17]:
R2 = 1 - (((tabela['obliczone']-tabela['obserwacje'])**2).sum()/((tabela['obserwacje']-tabela['obserwacje'].mean())**2).sum())
RMSEc = np.sqrt(((tabela['obliczone']-tabela['obserwacje'])**2).sum()/tabela.shape[0])
Sm2 = ((tabela['obliczone']-tabela['obliczone'].mean())**2).sum()/(tabela.shape[0]-1)
Se2 = ((tabela['obserwacje']-tabela['obliczone'])**2).sum()/(tabela.shape[0]-2-1)
F = Sm2/Se2

In [19]:
print(f'Współczynnik determinacji dla modelu wynosi {R2},\nśredni kwadratowy błąd kalibracji wynosi {RMSEc},\na istotność statystyczna modelu według testu F-Snedecora wynosi {F}')

Współczynnik determinacji dla modelu wynosi 0.9272795443275705,
średni kwadratowy błąd kalibracji wynosi 0.12035261211397609,
a istotność statystyczna modelu według testu F-Snedecora wynosi 9.921161358208725

In [ ]:
#INTERPRETACJA WYNIKÓW
# wartość R2 wynosi ponad 0.92, więc model wyjaśnia ponad 92% zmienności dla wybranych związków
# model jest również istotny statystycznie